body{
    font-family: 'Poppins', sans-serif;
    margin:0
}
h1{
    font-size: 50px;
}
p{
    text-align: justify;
}
.orange{
    color:orange;
}
section{
    display: flex;
    margin-bottom:150px;
}
.top-banner{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(orange,orangered);
    padding:10px 40px;
    color:white;
    border-radius: 5px;
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}